.vs/
/E2ETestResults/Test/Test.cs
/E2ETestResults/Test/Test.dll
/E2ETestResults/Test/Test.js
/packages/
/src/**/bin/
/src/**/obj/
/test/**/bin/
/test/**/obj/
/test/SaltarelleProjectTests/CoreSubset/CoreSubset.dll
/TestResults/

*.csproj.user
*.DotSettings.user
